{% extends "layout.html" %}

{% block content %}

<h3>List of Configs</h3>

<div class="row onePadding">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tr>
                    <th>No.</th>
                    <th>Broker Host</th>
                    <th>Broker Port</th>

                </tr>
                {% for config in configList %}
                    <tr>
                        <td>{{configList.index(config)+1}}</td>
                        <td>{{config.broker_host}}</td>
                        <td>{{config.broker_port}}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
